/SimpleChat/nbproject
/SimpleChat/build/
/SimpleChat/build.xml
/SimpleChat/manifest.mf
/SimpleChat/dist/
/Exemplos/nbproject/
/Exemplos/build/
/Exemplos/manifest.mf
/Exemplos/build.xml
/JogoDeTruco/nbproject/
/JogoDeTruco/build/
/JogoDeTruco/manifest.mf
/JogoDeTruco/build.xml
/JogoDeTruco/dist/